/* Base and reference markup */

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0em;
    background-color: white;
    text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


/* Site skeleton */

/* Site skeleton - Bootstrap sticky navbar */

.navbar-vertical-alignment {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

#hiddenCollapsingNavbar {
    width: 65%;
}

#account {
    width: 25%;
}

/* Site skeleton - Container for Bootstrap responsive grid layout */

.container-fluid {
    padding: 0 15px;
}

/* Site skeleton - Main content */

.container-main-content {
    font-size: 90%;
}

/* Site skeleton - Custom navbar */

.custom-nav {
    height: 142px;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    letter-spacing: 0.3em;
}

#nav-aside-left {
    background-image: url("/content/image/hc4_6.png");
    background-repeat: no-repeat;
    background-size: 119px 142px;
}

#custom-title {
    margin: 0em;
    padding-top: 2.7em;
    padding-bottom: 0.5em;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 170%;
    font-weight: normal;
    color: black;
    border-bottom: solid 1px #cccccc;
}

#custom-nav {
	font-size: 120%;
    line-height: 1.5em;
}

#custom-nav ul {
    margin: 0em;
    padding: 0em;
}

#custom-nav ul li {
    display: inline-block;
    padding: 0em 0.5em;
}

#custom-nav a:hover {
    color: black;
    text-decoration: none;
}

#custom-nav a:link {
    color: black;
    text-decoration: none;
}

#custom-nav a:visited {
    color: black;
    text-decoration: none;
}

.navlink {
    color: black;
}

/* Site skeleton - Footer that flushes down to bottom of page */

.footer {
    width: 100%;
    height: 142px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 80%;
	line-height: 200%;  
    letter-spacing: 0.1em;
}


/* Site sections */

/* Site sections - Index */


/* Site sections - Products */

.product-container {
    display: inline-block;
}

.product-image {
    height: 100px;
    width: 100px;
}

#glyphicon-heart {
    padding-bottom: 0.2em;
}

#numberOfLikes {
    padding-top: 0.1em;
}

.angularController span:hover {
    color: #cccccc;
}

/* Site sections - Philosophy */


/* Site sections - About */


/* Site sections - Contact */

#google-map {
    margin-top: 3em;
}


/* Site sections - Register */


/* Site sections - Login */


/* Shared markup */

/* Shared markup - Box Model */

.margin-none {
    margin: 0em;
}

.margin-auto {
    margin: auto;
}

.margin-xsmall {
    margin: 0.5em;
}

.margin-small {
    margin: 1em;
}

.margin-medium {
    margin: 2em;
}

.margin-large {
    margin: 4em;
}

.margin-horizontal-none {
    margin-left: 0em;
    margin-right: 0em;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-horizontal-xsmall {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.margin-horizontal-small {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-horizontal-medium {
    margin-left: 2em;
    margin-right: 2em;
}

.margin-horizontal-large {
    margin-left: 4em;
    margin-right: 4em;
}

.margin-vertical-none {
    margin-top: 0em;
    margin-bottom: 0em;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-vertical-xsmall {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.margin-vertical-small {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-vertical-medium {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-vertical-large {
    margin-top: 4em;
    margin-bottom: 4em;
}

.margin-top-none {
    margin-top: 0em;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-top-xsmall {
    margin-top: 0.5em;
}

.margin-top-small {
    margin-top: 1em;
}

.margin-top-medium {
    margin-top: 2em;
}

.margin-top-large {
    margin-top: 4em;
}

.margin-bottom-none {
    margin-bottom: 0em;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-bottom-xsmall {
    margin-bottom: 0.5em;
}

.margin-bottom-small {
    margin-bottom: 1em;
}

.margin-bottom-medium {
    margin-bottom: 2em;
}

.margin-bottom-large {
    margin-bottom: 4em;
}

.margin-left-none {
    margin-left: 0em;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-left-xsmall {
    margin-left: 0.5em;
}

.margin-left-small {
    margin-left: 1em;
}

.margin-left-medium {
    margin-left: 2em;
}

.margin-left-large {
    margin-left: 4em;
}

.margin-right-none {
    margin-right: 0em;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-right-xsmall {
    margin-right: 0.5em;
}

.margin-right-small {
    margin-right: 1em;
}

.margin-right-medium {
    margin-right: 2em;
}

.margin-right-large {
    margin-right: 4em;
}

.padding-none {
    padding: 0em;
}

.padding-xsmall {
    padding: 0.5em;
}

.padding-small {
    padding: 1em;
}

.padding-medium {
    padding: 2em;
}

.padding-large {
    padding: 4em;
}

.padding-horizontal-none {
    padding-left: 0em;
    padding-right: 0em;
}

.padding-horizontal-xsmall {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.padding-horizontal-small {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-horizontal-medium {
    padding-left: 2em;
    padding-right: 2em;
}

.padding-horizontal-large {
    padding-left: 4em;
    padding-right: 4em;
}

.padding-vertical-none {
    padding-top: 0em;
    padding-bottom: 0em;
}

.padding-vertical-xsmall {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.padding-vertical-small {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding-vertical-medium {
    padding-top: 2em;
    padding-bottom: 2em;
}

.padding-vertical-large {
    padding-top: 4em;
    padding-bottom: 4em;
}

.padding-top-none {
    padding-top: 0em;
}

.padding-top-xsmall {
    padding-top: 0.5em;
}

.padding-top-small {
    padding-top: 1em;
}

.padding-top-medium {
    padding-top: 2em;
}

.padding-top-large {
    padding-top: 4em;
}

.padding-bottom-none {
    padding-bottom: 0em;
}

.padding-bottom-xsmall {
    padding-bottom: 0.5em;
}

.padding-bottom-small {
    padding-bottom: 1em;
}

.padding-bottom-medium {
    padding-bottom: 2em;
}

.padding-bottom-large {
    padding-bottom: 4em;
}

.padding-left-none {
    padding-left: 0em;
}

.padding-left-xsmall {
    padding-left: 0.5em;
}

.padding-left-small {
    padding-left: 1em;
}

.padding-left-medium {
    padding-left: 2em;
}

.padding-left-large {
    padding-left: 4em;
}

.padding-right-none {
    padding-right: 0em;
}

.padding-right-xsmall {
    padding-right: 0.5em;
}

.padding-right-small {
    padding-right: 1em;
}

.padding-right-medium {
    padding-right: 2em;
}

.padding-right-large {
    padding-right: 4em;
}

.border {
    border: 0.2em solid #cccccc;
}

.border-none {
    border: none;
}

.border-radius {
    border-radius: 0.5em;
}

.border-radius-decor {
    border-radius: 1.5em 4em 0.5em 0.5em;
}

/* Shared markup - Font */

.bold {
    font-weight: bold;
}

.font-size-small {
    font-size: 80%;
}

.font-size-normal {
    font-size: 90%;
}

.font-size-large {
    font-size: 130%;
}

/* Shared markup - Positioning */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.display-inline-block {
    display: inline-block;
    height: 100%; 
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-table {
    margin: 0 auto;
    display: table; 
    height: 100%; 
}

.display-table-cell-bottom {
    display: table-cell; 
    vertical-align: bottom;
}

/* Shared markup - Paragraphs */

.paragraph-normal {
    margin: 0em;
    text-align: left;
}

/* Shared markup - Colors */

.gray-color {
    color: #cccccc;
}

.gray-bgcolor {
    background-color: #cccccc;
}

.yellow-color {
    color: #fdca00;
}

.yellow-bgcolor {
    background-color: #ffdb4c;
}

/* Shared markup - Images */

.img-padding-top {
    padding-top: 0.2em;
}

.img-padding-left {
    padding-right: 1.7em;
}

.img-padding-bottom {
    padding-bottom: 0.2em;
}

.img-padding-right {
    padding-left: 1.7em;
}


/* Social media side bar */

.social-media {
    position: absolute;
    position: fixed;
    right: 0%;
    top: 30%;
}


/* Bootstrap grid */

.row1 {
    margin-top: 50px;
    height: 142px;
}

.row2 {
    margin-bottom: 150px;
    margin-top: 2em;
}

.col-sm-2 {
    min-height: 100%;
    height: 100%;
    border: 2px solid white;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -142px;
}


/* IE no borders */
a, img {
    border: none;
    outline: none
}

